@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);
@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ul, ol {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: "";
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.for_pc {
    display: inherit !important;
}

.for_phone {
    display: none !important;
}

html, body {
    height: 100%;
}

body {
    font-family: "微軟正黑體", "Noto Sans TC", "Font Awesome 5 Free", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    -webkit-touch-callout: default;
    outline: none;
    display: block;
    border: 0;
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

    a:hover {
        text-decoration: none;
        color: unset;
    }

/*  共用樣式調整 */
body {
    overflow-x: hidden;
    background-color: #e9dbd2;
}

div#gotop {
    display: block !important;
}

.protitle {
    width: 70%;
    height: 127px;
    margin: 0 auto 0;
    line-height: 2em;
    font-size: 0;
}

.bg01 {
    background: none;
}

.main-wrap {
    overflow: hidden;
}

.aside-container {
    width: 225px;
}

    .aside-container .go-top {
        width: 92%;
        height: 50px;
        margin: 25px auto 0;
        font-size: 1.2em;
        line-height: 2.5em;
        font-weight: bold;
        background: #000;
        color: white;
    }

    .aside-container .aside-content li a {
        background: #000;
        color: white;
    }

        .aside-container .aside-content li a:hover {
            background: #d6b167;
            color: #000;
        }

    .aside-container .aside-wrap {
        -webkit-filter: none;
        filter: none;
        padding-top: 0;
    }

.nav-footer {
    z-index: 999;
}

    .nav-footer .nav-box,
    .nav-footer .box-area {
        background-color: #c10000;
    }

        .nav-footer .box-area li {
            width: 44%;
        }

section {
    width: 100%;
    height: auto;
    margin: 0 auto 3%;
    position: relative;
    z-index: 0;
}

    section a {
        width: 100%;
        height: auto;
        display: block;
    }

        section a:hover {
            -webkit-transform: translateY(5px);
            transform: translateY(5px);
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
        }

    section ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

section {
    width: 60%;
    z-index: 5;
    margin: 0 auto 6%;
}

    section ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

    section .title {
        width: 85%;
        margin: 0 auto 10%;
    }



.swiper-container .swiper-slide {
    width: 25% !important;
}

/* 燦坤揪團購頁面區 */
#group-container {
    width: 100%;
    margin: 0 auto 0;
    position: relative;
}

    #group-container .background {
        background-image: url("https://events.tk3c.com/events_net/events_net/tk3cgroup/images/bg.png");
        background-repeat: no-repeat;
        background-position: 0 0, top;
        background-size: 100% auto;
        padding-bottom: 343.15%;
        width: 100%;
        height: 0;
        position: relative;
        margin: 0 auto 0;
        background-position: 0 45px, top;
    }

        #group-container .background .title {
            width: 60%;
            position: absolute;
            left: 11%;
            right: 0;
            top: 2%;
            margin: 0 auto;
            -webkit-animation: zoomInNormal 2s ease-in;
            animation: zoomInNormal 2s ease-in;
        }

        #group-container .background .msg {
            width: 11%;
            position: absolute;
            right: 21%;
            top: 5%;
            -webkit-animation: rotate-short 1.5s linear infinite;
            animation: rotate-short 1.5s linear infinite;
        }

        #group-container .background .timerarea {
            width: 100%;
            position: absolute;
            top: 8%;
        }

            #group-container .background .timerarea i {
                border-radius: 20px;
                background: #000;
                color: #fff;
                font-size: 4em;
                margin: 0 1%;
                padding: 1%;
            }

            #group-container .background .timerarea b {
                font-size: 5em;
                font-weight: bold;
            }

    #group-container .background2 {
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/de.png") no-repeat center;
        background-size: 100% auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 2000px;
        background-position: 0 8vmax;
        background-attachment: fixed;
        top: 15%;
    }

.special-box {
    margin: -300% auto 8%;
}

    .special-box .special {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto 5%;
    }

        .special-box .special a {
            width: 48%;
            margin: 0 5px;
        }

            .special-box .special a.no {
                pointer-events: none;
                cursor: auto;
            }

    .special-box p {
        margin-bottom: 2%;
    }

    .special-box .title {
        width: 60%;
        margin: 0 auto 2%;
    }

        .special-box .title:nth-of-type(3) {
            margin: 0 auto -4%;
        }

    .special-box .go-login {
        width: 80%;
        margin: 0 auto;
    }

.price {
    margin: 0 auto 3%;
}

    .price .login {
        width: 80%;
        margin: 0 auto;
    }

    .price .text {
        font-size: 2em;
        background: #a99c99;
        width: 40%;
        margin: 0 auto 3%;
        color: #fff;
    }

        .price .text .number {
            padding-left: 10px;
        }

    .price .detail-text {
        width: 60%;
        margin: 0 auto;
    }

    .price .links {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 13%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

        .price .links a {
            height: 20rem;
            width: 40%;
        }

.price-group .front-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto 1%;
}

    .price-group .front-title a {
        width: 23%;
        height: auto;
        margin: 0 10px;
    }


.price-group .product {
    position: relative;
    width: 70%;
    margin: 0 auto 1%;
}

    /*.price-group .product:before {
        content: "";
        display: block;
        position: absolute;
        width: 20%;
        height: 100%;
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/o1.png") no-repeat center;
        background-size: 100% auto;
        left: -105%;
        right: 0;
        margin: 0 auto;
        top: -49%;
        -webkit-animation: rotate-small 0.8s linear alternate infinite;
        animation: rotate-small 0.8s linear alternate infinite;
    }*/

.price-group .dirtybuble {
    content: "";
    display: block;
    position: relative;
    width: 28%;
    height: 31%;
    background-size: 100% auto;
    left: -50%;
    right: 0;
    margin: 0 auto;
    top: -32%;
    -webkit-animation: rotate-small 0.8s linear alternate infinite;
    animation: rotate-small 0.8s linear alternate infinite;
}

.board {
    margin: 0 auto 8%;
}

    .board .youtube {
        width: 100%;
        position: relative;
        padding-bottom: 55%;
        height: 0;
        margin: 0 auto 1%;
    }

        .board .youtube iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

    .board .board-text {
        margin-bottom: 1%;
        position: relative;
        overflow: hidden;
    }

    .board .texts {
        width: 100%;
        position: absolute;
        top: 24%;
        left: 0;
    }

.board-box .text {
    width: 100%;
    height: 80px;
    display: block;
    overflow: hidden;
    position: absolute;
    left: 150%;
    -webkit-animation: bg-move 8s linear infinite;
    animation: bg-move 8s linear infinite;
}

    .board-box .text:nth-of-type(1) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/bt1.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box .text:nth-of-type(2) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/dt2.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box .text:nth-of-type(3) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/bt3.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box .text:nth-of-type(4) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/bt4.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box .text:nth-of-type(5) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/bt5.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box .text.text1 {
        width: 25%;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }

    .board-box .text.text2 {
        width: 20%;
        top: 145px;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-duration: 9s;
        animation-duration: 9s;
    }

    .board-box .text.text3 {
        width: 23%;
        top: 75px;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
        -webkit-animation-duration: 10s;
        animation-duration: 10s;
    }

    .board-box .text.text4 {
        width: 17%;
        top: 200px;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-duration: 11s;
        animation-duration: 11s;
    }

    .board-box .text.text5 {
        width: 34%;
        top: 260px;
        -webkit-animation-delay: 2.5s;
        animation-delay: 2.5s;
        -webkit-animation-duration: 12s;
        animation-duration: 12s;
    }

.board-box2 .text {
    width: 100%;
    height: 80px;
    display: block;
    overflow: hidden;
    position: absolute;
    left: 150%;
    -webkit-animation: bg-move 8s linear infinite;
    animation: bg-move 8s linear infinite;
}

    .board-box2 .text:nth-of-type(1) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/ct1.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box2 .text:nth-of-type(2) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/ct2.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box2 .text:nth-of-type(3) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/ct3.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box2 .text:nth-of-type(4) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/ct4.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box2 .text:nth-of-type(5) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/ct5.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box2 .text.text1 {
        width: 18%;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        -webkit-animation-duration: 9s;
        animation-duration: 9s;
    }

    .board-box2 .text.text2 {
        width: 16%;
        top: 70px;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-duration: 10s;
        animation-duration: 10s;
    }

    .board-box2 .text.text3 {
        width: 24%;
        top: 66px;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
        -webkit-animation-duration: 11s;
        animation-duration: 11s;
    }

    .board-box2 .text.text4 {
        width: 15%;
        top: 155px;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-duration: 12s;
        animation-duration: 12s;
    }

    .board-box2 .text.text5 {
        width: 25%;
        top: 215px;
        -webkit-animation-delay: 2.5s;
        animation-delay: 2.5s;
        -webkit-animation-duration: 13s;
        animation-duration: 13s;
    }

.board-box3 .text {
    width: 100%;
    height: 80px;
    display: block;
    overflow: hidden;
    position: absolute;
    left: 150%;
    -webkit-animation: bg-move 8s linear infinite;
    animation: bg-move 8s linear infinite;
}

    .board-box3 .text:nth-of-type(1) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/dt1.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box3 .text:nth-of-type(2) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/bt2.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box3 .text:nth-of-type(3) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/dt3.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box3 .text:nth-of-type(4) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/dt4.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box3 .text:nth-of-type(5) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/dt5.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box3 .text.text1 {
        width: 22%;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
        -webkit-animation-duration: 10s;
        animation-duration: 10s;
    }

    .board-box3 .text.text2 {
        width: 24%;
        top: 95px;
        -webkit-animation-delay: 1.2;
        animation-delay: 1.2;
        -webkit-animation-duration: 11s;
        animation-duration: 11s;
    }

    .board-box3 .text.text3 {
        width: 16%;
        top: 80px;
        -webkit-animation-delay: 1.7s;
        animation-delay: 1.7s;
        -webkit-animation-duration: 12s;
        animation-duration: 12s;
    }

    .board-box3 .text.text4 {
        width: 16%;
        top: 180px;
        -webkit-animation-delay: 2.2s;
        animation-delay: 2.2s;
        -webkit-animation-duration: 13s;
        animation-duration: 13s;
    }

    .board-box3 .text.text5 {
        width: 30%;
        top: 245px;
        -webkit-animation-delay: 2.7s;
        animation-delay: 2.7s;
        -webkit-animation-duration: 14s;
        animation-duration: 14s;
    }

.board-box4 .text {
    width: 100%;
    height: 80px;
    display: block;
    overflow: hidden;
    position: absolute;
    left: 150%;
    -webkit-animation: bg-move 8s linear infinite;
    animation: bg-move 8s linear infinite;
}

    .board-box4 .text:nth-of-type(1) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/at1.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box4 .text:nth-of-type(2) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/at2.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box4 .text:nth-of-type(3) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/at3.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box4 .text:nth-of-type(4) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/at4.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box4 .text:nth-of-type(5) {
        background: url("https://events.cdn-tkec.tw/events_net/events_net/tk3cgroup/images/202211/at5.png") no-repeat center;
        background-size: 100% auto;
    }

    .board-box4 .text.text1 {
        width: 20%;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
        -webkit-animation-duration: 10s;
        animation-duration: 10s;
    }

    .board-box4 .text.text2 {
        width: 15%;
        top: 170px;
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
        -webkit-animation-duration: 11s;
        animation-duration: 11s;
    }

    .board-box4 .text.text3 {
        width: 18%;
        top: 105px;
        -webkit-animation-delay: 1.7s;
        animation-delay: 1.7s;
        -webkit-animation-duration: 12s;
        animation-duration: 12s;
    }

    .board-box4 .text.text4 {
        width: 20%;
        top: 228px;
        -webkit-animation-delay: 2.2s;
        animation-delay: 2.2s;
        -webkit-animation-duration: 13s;
        animation-duration: 13s;
    }

    .board-box4 .text.text5 {
        width: 15%;
        top: 258px;
        -webkit-animation-delay: 2.7s;
        animation-delay: 2.7s;
        -webkit-animation-duration: 14s;
        animation-duration: 14s;
    }

.detail-box {
    background: #fff;
    border: 5px solid #543d3d;
    border-radius: 5px;
}

    .detail-box .title {
        font-size: 2em;
        font-weight: bold;
        padding-top: 1%;
        margin: 0 auto 0;
    }

    .detail-box h5 {
        font-weight: bold;
        font-size: 1.2em;
    }

    .detail-box ul {
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        text-align: left;
        padding: 20px;
    }

        .detail-box ul li {
            margin-bottom: 10px;
        }

    .detail-box:before {
        content: "";
        display: block;
        height: 400px;
        margin-top: -400px;
        pointer-events: none;
        visibility: hidden;
    }

.product-group {
    margin: 0 auto 2%;
}

/*  電腦版其他尺寸 */
@media only screen and (max-width: 1700px) {
    #group-container .background .title {
        top: 2%;
        width: 65%;
    }

    section {
        width: 70%;
    }
}

@media screen and (max-width: 1600px) {
    #group-container .background .title {
        width: 70%;
        top: 1.5%;
    }

    .special-box {
        margin: -298% auto 8%;
    }
}

@media screen and (max-width: 1440px) {
    section {
        width: 75%;
    }

    #group-container .background .timerarea i {
        font-size: 3.5em;
    }

    .board-box .text.text5 {
        top: 240px;
    }
}

@media screen and (max-width: 1280px) {
    section {
        width: 80%;
    }

    #group-container .background .timerarea i {
        font-size: 3em;
    }
}

@media screen and (max-width: 1145px) {
    section {
        width: 85%;
    }


}

@media only screen and (max-width: 1025px) {
    section a:hover {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: none;
        transition: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-filter: none;
        filter: none;
    }
}

@media only screen and (max-width: 980px) {
    #group-container .background .timerarea i {
        font-size: 2em;
    }



    section {
        width: 90%;
    }


    .price-group .product:before {
        width: 18%;
    }

    .price-group2 .product:before {
        width: 18%;
    }

}

@media only screen and (min-width: 769px) and (max-width: 850px) {
    #group-container .background {
        background-position: 0 3vmax, top;
    }

        #group-container .background .timerarea b {
            font-size: 3em;
        }

    .icon-box.fixed {
        top: 3%;
    }

        .icon-box.fixed li {
            width: 14%;
        }
}
/* 手機版 */
@media only screen and (max-width: 768px) {
    #group-container .background .timerarea {
        top: 9%;
    }

        #group-container .background .timerarea b {
            font-size: 3em;
        }

    #group-container .background .title {
        top: 2.5%;
    }

    .price .links a {
        height: 12rem;
    }
}

@media only screen and (min-width: 577px) and (max-width: 600px) {
    #group-container .background .timerarea i {
        font-size: 1.5em;
    }


    .price .text {
        width: 65%;
    }

    .price-group .front-title a {
        margin: 0 8px;
    }
}

@media only screen and (max-width: 576px) {
    .fix_btn {
        display: block;
    }

        .fix_btn .dropdown-menu {
            display: none;
        }

    .swiper-container .swiper-slide {
        width: 45% !important;
    }

    section .title {
        width: 100%;
    }

    #group-container .background .title {
        top: 4%;
        left: 14%;
        width: 80%;
    }


    #group-container .background2 {
        background-position: 0 20vmin;
    }

    .price .text {
        width: 80%;
        font-size: 1.5em;
    }

    .price-group .front-title a {
        width: 43%;
    }


    .price .links a {
        width: 42%;
        height: 7rem;
    }
}

@media only screen and (max-width: 376px) {
    .board-box2 .text.text5 {
        top: 82px;
    }
}

@media only screen and (max-width: 360px) {
    .price .text {
        font-size: 1em;
    }
}

@media only screen and (max-width: 320px) {


    #group-container .background .title {
        top: 5%;
    }

}

@-webkit-keyframes bg-move {
    0% {
        left: 150%;
    }

    100% {
        left: -100%;
    }
}

@keyframes bg-move {
    0% {
        left: 150%;
    }

    100% {
        left: -100%;
    }
}

@-webkit-keyframes bg-move-re {
    from {
        background-position: 700px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes bg-move-re {
    from {
        background-position: 700px 0;
    }

    to {
        background-position: 0 0;
    }
}
